body {
  font-family: 'Tinos', serif;
}

h1:before {
  content: "#";
  margin-right: 0.5em;
}

h2:before {
  content: "##";
  margin-right: 0.5em;
}

h3:before {
  content: "###";
  margin-right: 0.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li:before {
  content: "-";
  margin-right: 0.5em;
}
